html:not(.responsive) {
	min-width: 1000px; /* viewport */
}



/*=============================================
 * body
 *=============================================*/

body {
	color: #000;
	 font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 0;
	background: #fff;
	min-width: inherit;
	min-height: inherit;
	max-height: 100%;
}



/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/

.fnt-mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.fnt-meiryo {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.fnt-gothic {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

@media screen and (max-width: 999px){
	.fnt-mincho {
		font-family: 'Noto Serif JP', serif;
	}
	
}


/*=============================================
 * .fnt - customs
 *=============================================*/

.fnt-mincho {
}
.fnt-meiryo {
}
.fnt-gothic {
}
.fnt-garamond {
}



/*=============================================
 * <main>
 *=============================================*/

main {
	clear: both;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.wrap {
	width: 1000px;
}

.btn a{
	display: block;
}

/*=============================================
 * <header>
 *=============================================*/

header {

}

header h1 {
	
	
}
header .logo {
	width: 260px;
	 margin: 0 auto;
	text-align: center;
}
header .logo span{
	
}
header .group{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
header .group .left{
	width: 50%;
	    padding-top: 20px;
}
header .group .right{
	width: 72%;
}
header #key h2 span.t1{
 background: #000;
    color: #fff;
    text-align: center;
    padding: 1px 8px 2px 13px;
    width: 345px;
    display: block;
    margin-bottom: 18px;
    font-weight: bold;
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
	    line-height: 37px;
	
}
header #key h2 span.t2{
    font-size: 35px;
    display: block;
    margin-bottom: 10px;
    line-height: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #292725;
    margin-left: 37px;
    letter-spacing: 4px;
}
header #key h2 span.t2 span{
	color: #2ba0c3;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Noto Serif', serif;
}

header #key{
	    /*background: url(../img/shared/header_deco.png) no-repeat left -321px top;*/
	background-color: #f7f4e8;
	    padding-top: 27px;
	
}
header .tel {
}
header nav {
	clear: both;
	padding-left: 19px;
}

header #key p.ttl{
	font-size: 22px;
    line-height: 35px;
    text-align: center;
    width: 375px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    max-width: 100%;
    letter-spacing: 4px;
	margin: 0 auto;
}
header .menu_toggle {
	
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}

header .sub_click {
	display: block;
	padding: 9px 0;
	position: relative;
}

header .sub_click:before {
	content: '';
	position: absolute;
	width: 15px;
	border-top: 1px solid #fff;
	right: 5px;
	top: 22px;
	animation: smoky-out 0.7s 0s both;
}

header .sub_click:after {
	content: '';
	position: absolute;
	height: 15px;
	border-left: 1px solid #fff;
	right: 12px;
	top: 15px;
	animation: smoky-out 0.7s 0s both;
}

header .sub_click.open:after, header .sub_click.open:before {
	animation: smoky 0.7s 0s both;
}

header .sub_click.open:after {
	opacity: 0;
}
p.header_fixed{
	position: fixed;
	top: 250px;
	right: 0;
	z-index: 10;
	
}



.mn_tyle_a header .menu_toggle li.active::before { 
	
	left: 0;
	transform: translateX(0);
}
header .menu_toggle a {
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 16px;
	font-size: 15px;
}
header .menu_toggle ul li a {
	display: block;
	padding: 15px 0 15px;
	
}

header .menu_toggle ul li a:after {
	content: url(../img/index/arrow_icon.png);
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -7px;
}

header .menu_toggle .last {
	background-color: #5a0000;
}
header .close_btn {
	width: 100%;
	height: 40px;
	padding-top: 1px;
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	display: block;
	letter-spacing: 0.1em;
	line-height: 30px;
	text-align: center;
	background-color: #000;
	z-index: 100;
	
}
header .close_btn span {
	font-size: 24px;
}

.nav--opened #menu_toggle{
	    opacity: 1;
    visibility: visible;
    pointer-events: visible;
	    padding: 74px 20px;
	height: 100vh;
}

.nav--opened {
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}


body.nav--opened, body.nav--opened *, body.nav--nav--opened *:hover, body.nav--opened *:focus, body.nav--opened *:active {
	/*    cursor: none !important;*/
	touch-action: none !important;
	pointer-events: none !important;
}

body.nav--opened .hamburger, body.nav--opened #menu_toggle, body.nav--opened #menu_toggle * {
	touch-action: auto !important;
	pointer-events: visible !important;
}
/*=============================================
 * key
 *=============================================*/

#key {
	
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: 250px;
	position: relative;
}
#key ul {
	min-height: inherit;
}
#key li {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}



/*=============================================
 * <section>
 *=============================================*/

section {
}



/*=============================================
 * <footer>
 *=============================================*/

footer {
	text-align: center;
	background: #292725;
	color: #fff;
	padding: 147px 0 60px;
	
}
footer p.btn{
	position: relative;
	width: 504px;
	margin: 0 auto 40px;
	max-width: 100%;
}
footer p.btn:hover a{
	 border: 1px solid #2ba0c3;
	color: #2ba0c3;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
footer p.btn:hover:before{
	content: url(../img/shared/f_btn_arrow_on.png);
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
footer p.btn:before{
	position: absolute;
	content: url(../img/shared/f_btn_arrow.png);
	width: 17px;
	height: 23px;
	top: 24px;
    right: 52px;
	
}
footer p.btn a{
	display: block;
    border: 1px solid #fff;
    border-radius: 50px;
        padding: 18px 0 18px 52px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: left;
}
footer .logo {
	margin-bottom: 34px;
}
footer .tel {
}
footer nav {
	margin-bottom: 14px;
}



/*=============================================
 * .socialbuttons
 *=============================================*/
#socialbuttons{
	margin-bottom: 68px;
}
footer .socialbuttons {
	margin-bottom: 16px;
}



/*=============================================
 * copyright
 *=============================================*/

address {
	font-size: 13px;
	    line-height: 25px;
	color: #595653;
	letter-spacing: 3px;
}
@media screen and (max-width: 999px){
	header h1{
	    position: static;
    z-index: 3;
    top: 0px;
    width: 100%;
    font-size: 10px !important;
    left: 0%;
    margin: 0 -4%;
    padding: 15px 5%;
		
	}
	footer p.btn a{
		    font-size: 15px;
    padding: 15px 0;
    text-align: center;
	}
	header #key{
	    /*background: url(../img/shared/header_deco_sp.png) no-repeat left top;*/
	background-color: #f7f4e8;
	    padding-top:0px;
	    background-size: 63%;
		min-height: auto;
		padding-bottom: 2%;
	}
	header .group .left{
		padding-left: 2%;
	}
	header #key p.ttl{
		font-size: 12px;
    line-height: 20px;
		    margin-bottom: 5px;
	}
	
	header .logo{
		    width: 150px;
    margin: 0 auto;
		text-align: center;
	}
	header #key h2 span.t1{
		    font-size: 13px;
    margin: 0 auto 10px;
		    max-width: 89%;
	}
	header #key h2 span.t2{
		    margin-left: 4px;
    letter-spacing: 4px;
    text-align: center;
		    font-size: 16px;
		    line-height: 31px;
	}
	header #key h2 span.t2 span{
		font-size: 35px;
		white-space: nowrap;
	}
	header .group .right .photo{
		position: relative;
		    width: 90%;
    margin: 0 auto;
	}
	header .group .right .photo:before{
		position: absolute;
		background:  url(../img/shared/header_photo_shadow.png) no-repeat center top;
		background-size: 100%;
		content: '';
		width: 409px;
		height: 20px;
		bottom: 0;
		left: -90px;
		}
	footer p.btn:before{
		    top: 20px;
    right: 13px;
		transform: scale(0.7);
	}
}

@media screen and (max-width: 375px){
	header .group .right .photo{
		width: 100%;
	}
}