// app global css

*
  font-family: 'nunito-font'
  font-size: 16px
  margin: 0
  padding: 0

.bg-header, .bg-footer
  background: $main

.bg-auth
  background: $auth

// Auth validation error messages
div.text-validation-error
  color: $warning
  font-size: 16px

.text-decoration-underline
  text-decoration: underline

.width-100
  width: 100%

.m-0
  margin: 0

.p-0
  padding: 0